body
{
background-image: url("vaca.jpg");
}

	.login_div1 , .login_div2
	{
		background: white;
		padding: 10px;
		float: none;
		border-radius: 15px;
	}


#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}
#word
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}
#output
{
background:#AA4465;
border-radius: 10px;
border-top: 10px solid #AA4465;
padding: 10px;
float: none;
text-align: left;
}
h1{
	color: #714343;
	font-size: 200px;
	font-family: fantasy;
	margin-top: 20px;
}
label{
	color: #adaecd;
	font-size: 100px;
	font-family: unset;
	margin-top: 20px;
}
button{
	background-color: aquamarine;
	width: 300px;
	height: 150px;
	border-radius: 10px;
	font-size: 100px;
}
input{
	background: #ffffff;	
}